root = true

[*.cs]
dotnet_diagnostic.IDE0058.severity = suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_new_line_before_open_brace = all
